// 共通
* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
}

body {
    width: 100%;
    height: auto;
    font-size: 16px;
    font-family: "M PLUS 1 Code", sans-serif;
    background: linear-gradient(-45deg, #fb463d42, #fb8c3d4d, #fdac1546);
    background-size: 2000% 2000%;
    animation: gradation 10s ease infinite alternate;
}

// 背景
@keyframes gradation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
    color: white;
}

.flex {
    display: flex;
}

// レイアウト（共通）
.content {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 100px 50px;
}

// タイトル部分（共通）
main {
    margin-bottom: 100px;
}

section {
    margin-bottom: 100px;

    .content {
        position: relative;
        opacity: 0;
        color: $sRed;
        margin-bottom: 50px;
        padding-bottom: 10px;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 10px;
            border-bottom: solid 2px $sRed;
        }

        .flex {
            align-items: center;

            .fas {
                font-size: 25px;
                transform: rotate(-45deg);
                margin: 0 10px;
            }

            .info-en {
                font-family: "Lobster", cursive;
                font-size: 33px;
                margin-bottom: 0;
            }
        }
        .info-menu {
            position: absolute;
            left: 45px;
        }
    }
}

.content.appear {
    animation: open-title 1s forwards;
    opacity: 1;
    &::after {
        animation: border_anim 2s linear forwards;
    }
}

// タイトル部分をふわっと表示するアニメーション
@keyframes open-title {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

// タイトルに下線を引くアニメーション
@keyframes border_anim {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

// メディアクエリ
@media screen and (max-width: 600px) {
    main {
        margin-bottom: 100px;
    }

    section {
        margin-bottom: 50px;
    }

    .wrapper {
        margin: 0 20px 50px;
    }
}
