@import "section/variables";
@import "section/common";
// @import 'section/opening';
@import "section/header";
@import "section/main";
@import "section/info";
@import "section/fee";
@import "section/scroll";
@import "section/service";
@import "section/instructor";
@import "section/footer";

// @keyframes fadeup {
//   0% {
//     transform: translateY(30px);
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

// @keyframes fadein {
//   0% {
//     opacity: 0;
//     transform: translateX(5%);
//   }
//   100% {
//     transform: translateX(0);
//     opacity: 1;
//   }
// }

// サイドバー
#experience {
  margin: 0 10px 40px;
  .experience--parts {
    margin: 0 20px;

    .experience--info {
      background-color: black;
      opacity: 0.7;
      position: relative;
      visibility: visible;
	  position: relative;
	  max-width: 100%;
	  height: 400px;


	  &:hover .img-box:nth-child(2){
		display: none;  
	  }  
	  
      .img-box {
        .experience--title {
			color: white;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 0.3s;
        }
        .experience--img {
			position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 0.3s;
          object-fit: cover;
        }
      }

      //   &:hover {
      // 	  background-color: white;
      // 	  opacity: 0;
      // 	  visibility: visible;
      //   }

      .experience--title1 {
        color: white;
        font-size: 28px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:hover {
          opacity: 0;
          visibility: visible;
        }
      }

      .experience--title2 {
        background: url(img/1635540_s.jpg) center center / cover;
        transition: all 0.3s;
        opacity: 0;
        font-size: 28px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        color: #fff;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

#location {
  margin: 0 10px;
  .location--info {
    .location--pin {
      position: relative;
      top: 3px;
      left: 50%;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: $sPink;
      box-shadow: -3px -3px 3px 0 $sRed inset;
      display: inline-block;
      z-index: 10;

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 30%;
        width: 3px;
        height: 15px;
        background-color: rgba(0, 0, 0, 0.226);
        transform: rotate(30deg);
        z-index: -1;
        box-shadow: 0 3.5px 1px 0 black;
      }
    }

    .location--texts {
      margin: 0 10px;
      background-color: $sRed;
      color: white;
      padding: 10px 10px;
      margin-bottom: 30px;
    }

    .location-map {
      iframe {
        max-width: 100%;
        object-fit: contain;
      }
    }
  }
}

#sns {
  .sns-contents {
    margin-bottom: 20px;
    .sns-box {
      iframe {
        width: 100%;
      }
    }
  }
}

// レスポンシブ
@media screen and (max-width: 1100px) {
  .contents {
    flex-direction: column;
  }

  article {
    border-right: none;
    width: 100%;
  }
  aside {
    width: 100%;
  }

  #header {
    .header-pc-menu {
      margin-bottom: 20px;
      .reserve {
        margin: 0 auto;
      }
    }
  }

  #carousel {
    margin-bottom: 20px;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
    .carousel--list {
      .carousel--main {
        object-fit: contain;
        grid-column: 1 / 2;
        grid-row: 1;

        .carousel--img {
          width: 100%;
          height: auto;
        }
      }

      .carousel--parts {
        overflow: hidden;
        grid-column: 1 / 2;
        grid-row: 2;
      }
    }

    .carousel--text {
      position: static;
      height: auto;
      margin-top: 10px;
      width: 100%;

      .main-message {
        font-size: 20px;
      }
      .sub-message {
        font-size: 18px;
      }
      .detail-message {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  section {
    margin-bottom: 10px;
  }

  header {
    .sp-menu {
      position: relative;
      height: 100vh;
      visibility: visible;
      display: initial;
      top: 0;
      left: auto;

      .container {
        position: relative;
        top: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0;

        .btn {
          margin-bottom: 10px;
          z-index: 999;
          width: 60px;
          height: 60px;
          background-color: $sRed;

          span {
            margin: auto;
            background-color: white;
            width: 35px;
            height: 2px;
            display: block;
            margin-bottom: 9px;
            -webkit-transition: -webkit-transform 0.7s;
            transition: -webkit-transform 0.7s;
            transition: transform 0.7s;
            transition: transform 0.7s, -webkit-transform 0.7s;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      .mobile-menu {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        padding: 64px;
        pointer-events: none;
        opacity: 0;
        transition: opacity 1s;
        background-color: $sRed;
        z-index: 10;
        height: 100vh;
        z-index: 998;

        .mobile-menu--item {
          margin-top: 24px;
          opacity: 0;
          transform: translateY(16px);
          transition: opacity 0.3s, transform 0.3s;
        }
      }

      .hide {
        display: none;
      }
    }

    // メニューオープン時
    .menu-open {
      .btn {
        span:nth-child(1) {
          -webkit-transition-delay: 70ms;
          transition-delay: 70ms;
          -webkit-transform: translateY(11px) rotate(135deg);
          transform: translateY(11px) rotate(135deg);
        }

        span:nth-child(2) {
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          -webkit-transform: translateX(-18px) scaleX(0);
          transform: translateX(-18px) scaleX(0);
        }

        span:nth-child(3) {
          -webkit-transition-delay: 140ms;
          transition-delay: 140ms;
          -webkit-transform: translateY(-11px) rotate(-135deg);
          transform: translateY(-11px) rotate(-135deg);
        }
      }

      .mobile-menu {
        opacity: 1;

        .mobile-menu--item {
          opacity: 1;
          transform: none;

          @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
              animation-delay: $i * 0.1s;
            }
          }
        }
      }
    }

    .pc-menu {
      display: none;
    }

    .header-pc-menu {
      flex-direction: column;
    }

    .logo {
      margin-bottom: 30px;

      img {
        width: 200px;
      }
    }

    .reserve {
      text-align: center;
      margin: 20px;
    }
  }

  #fee {
    .fee-list {
      width: 95%;
    }
  }

  #service {
    .content {
      margin-bottom: 50px;
    }

    .service-top {
      margin-bottom: 50px;
      .service-img {
        width: 100%;
      }
      .service-text {
        font-size: 20px;
        text-align: center;
        width: 90%;
        top: 35%;
        left: -3%;
      }
    }

    .grid {
      grid-template-columns: auto;
    }

    .service-item--text {
      font-size: 20px;
    }
  }

  #instructor {
    margin-bottom: 30px;
    .instructor-list {
      .instructor-left {
        display: flex;
        flex-direction: column;
        background-color: $sRed;
        color: white;

        .instructor-left--img {
          width: 90%;
          border-radius: 50%;
        }
      }
      .instructor-right {
        display: flex;
        flex-direction: column;
        background-color: $sRed;
        color: white;

        .instructor-right--img {
          width: 90%;
          border-radius: 50%;
          margin: 0;
        }
      }
      .instructor-right--message {
        margin: 0 auto;
      }
    }
  }

  .location--title {
    margin-right: 20px;
  }
}
