// 共通
html {
    height: 100%;
}

body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: "Zen Old Mincho", serif;
    background: linear-gradient(-45deg, #fb463d42, #fb8c3d4d, #fdac1546);
    background-size: 2000% 2000%;
    animation: gradation 10s ease infinite alternate;
}

@keyframes gradation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.contents {
    display: flex;
    justify-content: space-between;
}

article {
    width: 70%;
    border-right: 3px dotted $sRed;
}

aside {
    width: 30%;
    z-index: 10;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
    color: white;
}

.flex {
    display: flex;
}

// 共通（タイトル）
section {
    margin-bottom: 100px;
    // overflow: hidden;

    .content {
        position: relative;
        opacity: 0;
        color: $sRed;
        margin-bottom: 50px;
        padding-bottom: 10px;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 10px;
            border-bottom: solid 2px $sRed;
        }

        .flex {
            align-items: center;

            .fas {
                font-size: 25px;
                transform: rotate(-45deg);
                margin: 0 10px;
            }

            .info--en {
                font-family: "Lobster", cursive;
                font-size: 38px;
            }
        }
        .info--menu {
            position: absolute;
            left: 45px;
        }
    }
}

.content.title-open {
    animation: open-title 1s forwards;
    opacity: 1;
    &::after {
        animation: border_anim 2s linear forwards;
    }
}

@keyframes open-title {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes border_anim {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
