// 料金
#fee {
    .fee-box {
        .fee-list {
            max-width: 100%;
            text-align: center;
            border-collapse: collapse;
            border-spacing: 0;
            margin: 0 auto 50px;

            .month {
                padding: 10px;
                color: white;
                border: solid 1px $sRed;
                background: $sRed;

                &:nth-child(1) {
                    background: rgba(250, 200, 200, 0.356);
                }
            }

            .fee-table {
                padding: 10px;
                width: 220px;

                &:nth-of-type(1) {
                    background: $sPink;
                    color: white;
                    border: $sRed 1px solid;
                    border-bottom: $sRed 1px solid;
                    width: 28%;
                }
                &:nth-of-type(2) {
                    border-bottom: $sRed 1px solid;
                    border-right: $sRed 1px solid;
                }
                &:nth-of-type(3) {
                    border-bottom: $sRed 1px solid;
                    border-right: $sRed 1px solid;
                }
            }
        }
    }

    .fee--yoga-box {
        max-width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border: 4px double $sRed;
        border-radius: 10px;
        padding: 0 20px 20px;
        margin: 0 20px;


        .fee--yoga-text {
            margin: 40px auto 20px;
            font-size: 20px;
        }

        .fee--yoga-list {
            text-align: center;
            padding: 10px;
            margin: 0 auto;

            .fee--yoga-table {
                padding: 10px;
                width: 220px;

                &:nth-of-type(1) {
                    background: $sPink;
                    color: white;
                    border: $sRed 1px solid;
                    width: 28%;
                }
                &:nth-of-type(2) {
                    border: $sRed 1px solid;
                    border-left: none;
                }
            }
        }
    }
    .experience {
        margin: 0 10px 40px;

        .experience--parts {
            margin: 0 0 30px;

            .experience--info {
                position: relative;
                visibility: visible;
                max-width: 645px;
                margin: auto;
                height: 430px;

                &::before {
                    content: "";
                    z-index: 2;
                    background-color: rgba(0, 0, 0, 0.637);
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 430px;
                    display: block;
                }

                &:hover {
                    &::before {
                        display: none;
                    }
                    .experience--title1 {
                        animation: chars-appear 0.3s forwards;
                    }

                    @keyframes chars-appear {
                        0% {
                            transform: translate(-50%, -50%) scale(1);
                        }
                        100% {
                            transform: translate(-50%, -50%) scale(1.1);
                        }
                    }

                    .img-box:nth-child(2) {
                        display: none;
                    }

                    .img-box .experience--title1 {
                        opacity: 1;
                    }
                }

                .img-box {
                    .experience--title1 {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: white;
                        z-index: 2;
                        opacity: 0;
                        text-align: center;
                    }

                    .experience--title2 {
                        color: white;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 2;
                        text-align: center;
                    }

                    .experience--img {
                        max-width: 100%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        object-fit: cover;
                    }
                }
            }
        }

        .experience--message {
            font-size: 20px;
            line-height: 22px;
            margin: 0 auto;
        }

        .experience--animation {
            background-color: rgba(251, 82, 82, 0.712);
            margin-top: 10px;
            padding: 5px 10px;
            border-radius: 10px;
            color: white;
            display: inline-block;
            width: 22ch;
            overflow: hidden;
            white-space: nowrap;
            animation: typing 3s 5s steps(21), caret 0.3s steps(1) infinite;
        }
        @keyframes typing {
            0% {
                width: 0;
            }
        }
    }
}
