// インストラクター
#instructor {
    .instructor-list {
        .instructor-left,
        .instructor-right {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            align-items: center;
            opacity: 0;
            overflow: hidden;
            background-color: rgba(251, 82, 82, 0.712);
            color: white;
        }

        .instructor-left {
            margin-right: 10px;
            border-radius: 0 40px 40px 0;
            transform: translateX(-200px);
            transition: opacity 0.3s, transform 0.5s;
            padding: 20px 0;

            .instructor-left--img {
                border-radius: 0 40px 40px 0;
                grid-column: 1 / 2;
            }

            .instructor-left--texts {
                grid-column: 2 / 4;
                .instructor-left--name {
                    font-size: 30px;
                    background-color: white;
                    color: $sRed;
                    padding-left: 10px;
                    border-radius: 10px 0 0 10px;
                }

                .instructor-left--text {
                    font-size: 20px;
                    margin-bottom: 20px;
                }

                .instructor-left--message {
                    font-size: 15px;
                    position: relative;
                    color: $sRed;
                    background-color: white;
                    display: inline-block;
                    padding: 10px 20px 0;
                    height: 100px;
                    overflow: hidden;
                    box-shadow: 0px 5px 2px $sRed;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        border-width: 0 16px 16px 0;
                        border-color: rgba(251, 82, 82, 0.87) rgba(251, 82, 82, 0.87) $sRed $sRed;
                        border-style: solid;
                        display: block;
                        width: 0;
                        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.274), -1px 1px 1px rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }

        .instructor-right {
            margin: 30px 0 0 10px;
            transform: translateX(200px);
            transition: opacity 0.3s, transform 0.5s;
            border-radius: 40px 0 0 40px;
            padding: 20px 0;

            .instructor-right--img {
                border-radius: 40px 0 0 40px;
                margin-left: auto;
            }

            .instructor-right--texts {
                grid-column: 1 / 3;

                .instructor-right--name {
                    text-align: end;
                    font-size: 30px;
                    background-color: white;
                    color: $sRed;
                    padding-right: 10px;
                    border-radius: 0 10px 10px 0;
                }

                .instructor-right--text {
                    margin: 0 0 30px 10px;
                    font-size: 20px;
                }

                .instructor-right--message {
                    margin-left: 10px;
                    font-size: 15px;
                    position: relative;
                    color: $sRed;
                    background-color: white;
                    display: inline-block;
                    padding: 10px 20px 0;
                    height: 100px;
                    overflow: hidden;
                    box-shadow: 0px 5px 2px $sRed;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        border-width: 0 16px 16px 0;
                        border-color: rgba(251, 82, 82, 0.87) rgba(251, 82, 82, 0.87) $sRed $sRed;
                        border-style: solid;
                        display: block;
                        width: 0;
                        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.274), -1px 1px 1px rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
        .appear {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
