// オープニングエフェクト
.opening {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  animation: fade-out 3s;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $sRed;
    transform: translate(0, 100%);
    transition: transform 1s;
  }

  & .title {
    & img {
      opacity: 0;
      transform: translate(0, 30px);
      transition: transform 1s, opacity 1.1s;
    }
  }
}

.start {
  &::before {
    transform: translate(0, 0);
  }
  & .title {
    & img {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

.hide {
  animation: hide .8s forwards;
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
    visibility: hidden;
  }
}

@keyframes text-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
      // span {
      //   display: inline-block;
      //   transition: 1s;
      //   opacity: 0;
      //   transform: translateY(0);
      // }
      // .move {
      //   opacity: 1;
      //   transform: translateY(20%);
      // }
