#scroll {
    .scroll-parts {
        position: fixed;
        bottom: 0;
        z-index: 998;

        .scroll-arrow {
            display: inline-block;
            padding-top: 70px;
            position: relative;
            margin-left: 10px;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                border: solid 1px $sRed;
                border-width: 0 0 1px 1px;
                display: inline-block;
                margin: auto;
                transform: rotate(-45deg);
                width: 20px;
                height: 20px;
                animation: scroll 3.5s infinite;
            }

            .cursor {
                color: $sRed;
            }
        }
    }
    @keyframes scroll {
        0% {
            transform: rotate(-45deg) translate(0, 0);
        }
        80% {
            transform: rotate(-45deg) translate(-30px, 30px);
        }
        0%,
        80%,
        100% {
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
    }
}
