// サイドバー
#location {
    margin: 0 10px 50px;
    .location--info {
        .location--pin {
            position: relative;
            top: 3px;
            left: 50%;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: $sPink;
            box-shadow: -3px -3px 3px 0 $sRed inset;
            display: inline-block;
            z-index: 10;

            &::after {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 30%;
                width: 3px;
                height: 15px;
                background-color: rgba(0, 0, 0, 0.226);
                transform: rotate(30deg);
                z-index: -1;
                box-shadow: 0 3.5px 1px 0 black;
            }
        }

        .location--texts {
            margin: 0 10px;
            background-color: $sRed;
            color: white;
            padding: 10px 10px;
            margin-bottom: 30px;
        }

        .location-map {
            iframe {
                max-width: 100%;
                object-fit: contain;
            }
        }
    }
}

#sns {
    .sns-contents {
        margin-bottom: 20px;
        .sns-box {
            iframe {
                width: 100%;
            }
            .sns--title {
                background: $sRed;
                color: white;
                display: inline-block;
                border-radius: 20px;
                padding: 5px 20px;
                margin: 0 0 10px 10px;
            }
        }
    }
}
